.container {
  background-color: white;
  border-radius: 20px;
  width: 320px;
  height: 497px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.container img {
  width: 290px;
  margin-top: 4%;
  border-radius: 20px;
}

.container p {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  margin-top: 5% !important;
  margin: 9.7%;
}

.container h1 {
  font-size: 22.5px;
  font-family: "Outfit", sans-serif;
  margin-left: 7.7%;
  margin-right: 7.7%;
}

.text-muted {
  color: #6c757d;
}
